/*

Tooplate 2137 Barista

https://www.tooplate.com/view/2137-barista-cafe

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #BC6C25;
  --secondary-color:              #DDA15E;
  --section-bg1-color:            #00294e;
  --section-bg2a-color:           #b9ddff;
  --section-bg2b-color:           #b9ddff;
  --section-bg3-color:            #ffffff;
  --section-bg4-color:            #0d294f;
  --section-bg5a-color:           #0d294f;
  --section-bg5b-color:           #2a5287;
  --custom-btn-bg-color:          #BC6C25;
  --custom-btn-bg-hover-color:    #DDA15E;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #7fffd4;
  --link-hover-color:             #E76F51;

  --body-font-family:             'Plus Jakarta Sans', sans-serif;

  --h1-font-size:                 68px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --btn-font-size:                16px;
  --form-btn-font-size:           18px;
  --menu-font-size:               16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-thin:             200;
  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

@media (max-width:1200px) {
  p {
    font-size: 14px;
  }
}

@media (max-width:900px) {
  p {
    font-size: 13.5px;
  }
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 10px;
  padding-bottom: 15px;
}

.section-bg1 {
  background-color: var(--section-bg1-color);
}

.section-bg2 {
  background: linear-gradient(var(--section-bg2a-color),var(--section-bg2b-color));
}

.section-bg3 {
  background-color: var(--section-bg3-color);
}

.section-bg4 {
  background-color: var(--section-bg4-color);
}

.section-bg5 {
  background: linear-gradient(var(--section-bg5a-color),var(--section-bg5b-color));
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}

.section-overlay + .container {
  position: relative;
  z-index: 22;
}

.back-top-icon {
  font-size: var(--h2-font-size);
}

.stylePopup .leaflet-popup-content-wrapper,
.stylePopup .leaflet-popup-tip {
    background-color: #00000098;
    color:#ffffff;
    text-align: center;
}

/*---------------------------------------
  TIMELINE               
-----------------------------------------*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--white-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  padding-top: 0;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: var(--white-color);
  border: 5px solid #7c5c52;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container-left {
  left: 0;
}

.timeline-container-right {
  left: 50%;
}

.timeline-container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  right: 25px;
  border: medium solid white;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent white;
}

.timeline-container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid white;
  border-width: 20px 20px 20px 0;
  border-color: transparent white transparent transparent;
}

.timeline-container-right::after {
  left: -13px;
}

.timeline-content {
  padding: 5px;
  background-color: var(--white-color);
  position: relative;
  border-radius: var(--border-radius-medium);
}

@media screen and (max-width: 991px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 58px;
    border: medium solid white;
    border-width: 20px 20px 20px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline-container-left::after, .timeline-container-right::after {
    left: 6px;
  }

  .timeline-container-right {
    left: 0%;
  }
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 12px 28px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.custom-border-btn:hover {
  background: var(--white-color);
  color: var(--secondary-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-italic {
  font-style: italic;
}


/*---------------------------------------
  NAVIGATION BAR & OFFCANVAS              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  z-index: 999999;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .container {
  background: rgba(16, 14, 14, 0.65);
  border-radius: var(--border-radius-medium);
  padding: 15px 30px;
}

.navbar {
  background: transparent;
  z-index: 999999;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar .container {
  background: rgba(0, 0, 0, 0.35);
  border-radius: var(--border-radius-medium);
  padding: 15px 30px;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
  color: var(--white-color);
}

.navbar .navbar-brand-image {
  filter: brightness(0) invert(1);
}

.navbar-brand-image {
  width: 48px;
  height: auto;
  margin-right: 10px;
}

.navbar .custom-btn {
  padding: 10px 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-bold);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--link-hover-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--menu-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  min-height: 800px;
  text-align: center;
}

.hero-section h1 {
  color: var(--white-color);
}

.small-text {
  color: var(--secondary-color);
}

.hero-section .custom-border-btn {
  border-color: transparent;
}

.hero-section .container {
  position: relative;
  z-index: 9;
}

.hero-slides {
  width: 100%;
  height: 100%;
  position: absolute !important;
}

.opening-hours-list {
  margin: 0;
  padding: 0;
}

.opening-hours-list li {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  margin-bottom: 10px;
}

.opening-hours-list li .underline {
  background-color: rgba(255, 255, 255, 0.75);
  width: 35%;
  height: 1px;
  margin: auto 15px 0 15px;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  background-color: var(--secondary-color);
  position: relative;
}

.about-section .ratio {
  border-radius: var(--border-radius-medium);
}

.custom-video {
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image-wrap {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.about-video-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
  border-radius: var(--border-radius-medium);
  bottom: 0;
  height: auto;
  padding: 40px;
}

.about-video-info h4 {
  color: var(--white-color);
}

.about-section h6 {
  color: var(--secondary-color);
}

.team-block-wrap {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  max-height: 450px;
  cursor: pointer;
}

.team-block-wrap:hover .team-block-image {
  transform: scale(1.2);
}

.team-block-image-wrap {
  width: 100%;
}

.team-block-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.team-block-info {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(188, 108, 37, 1));
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
}

.team-block-info .badge {
  margin: auto;
  top: 2px;
  bottom: 0;
}


.productbtn:hover, .productbtn:active {
  height: 15px;
  width: 15px;
  background: #1e2e38;
  color: #23284b;
}

.productbtn {
  height: 10px;
  width: 10px;
  margin: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: .3s ease all;
}

@media (max-width:800px) {
  .productbtn {
    margin: 10px; 
  }
}

.shape { 
  height:600px;
  width:100%;
  max-height:95%;
  bottom:0px;
  display:inline-block;
  border-radius:20px 20px 20px;
  object-fit: cover;

} 

.box {
  height:600px;
  width:100%;
  max-height:95%;
  bottom:0px;
  display:inline-block;
  border-radius:20px 20px 20px;
  background-color: #1e80a7;
}

.box1 {
  height:100%;
  width:100%;
  bottom:0px;
  display:inline-block;
  border:10px solid white;
  border-radius:30px 30px 30px;
  background-color: #b4c5eb;
}



.map-select{
  font-family: din-round,sans-serif;
  font-size:50px; 
  margin-left:50px;
  line-height:1.25;
  text-align:center; 
  font-weight: 700;
}

@media (max-width:1200px) {
  .map-select {
    font-size: 40px ;
  }
}

@media (max-width:800px) {
  .map-select {
    font-size: 30px ;
  }
}

.jump{
  display:inline-block;
  letter-spacing:3px;
  animation: waveAnim 1s;
  animation-delay: calc(.1s * var(--i))
}

@keyframes waveAnim{
  0%, 40%, 100%{
    transform:translateY(0);
  }
  20%{
    transform:translateY(-20px);
  }
}

.my-word {
  display: inline-block;
}

.arrow:hover{
  transform: scale(1.5);
}


/* CSS */
.button-map {
  appearance: none;
  background-color: transparent;
  border: 2px solid #01204d;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-map:disabled {
  pointer-events: none;
}

.button-map:hover {
  color: #fff;
  background-color: #01204d;
  box-shadow: #00000040 0 8px 15px;
  transform: translateY(-2px);
}

.button-map:active {
  box-shadow: none;
  transform: translateY(0);
}


/* CSS 
.button-map {
  appearance: button;
  max-width:80%;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 15px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-map:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-map:main,
.button-map:focus {
  user-select: auto;
}

.button-map:hover:not(:disabled) {
  filter: brightness(1.3);
  -webkit-filter: brightness(1.1);
}

.button-map:disabled {
  cursor: auto;
}

.button-map:active {
  border-width: 4px 0 0;
  background: none;
}*/

@media (max-width:1000px) {
  .rec5 {
    font-size: 15px;
  }
}

@media (max-width:800px) {
  .rec5 {
    font-size: 12.5px;
  }
}

@media (max-width:600px) {
  .rec5 {
    font-size: 10px;
  }
}

/*
.button01:hover {
  background-color: #1899D6;
}

/*.button01:after{
  background-color: #1CB0F6;
}

.button02:hover {
  background-color: #d4a538;
}

/*
.button02:after{
  background-color: #ffc53e;
}*/

.imgsrc {
  color: #0b356a;
  font-size: 14px;
  padding-top: 5px;
}
.imgsrc a {
  color:#3fa2e3;
}

@media (max-width:800px) {
  .imgsrc {
    font-size: 12px;
  }
}
.arrow:hover {
  cursor: pointer;
}
table, td, th {
  border: 1px solid;
  padding: 5px;
}

table {
  border-collapse: collapse;
}


#rectangle #stroke {
  width: 100%;
  height: 100%;
  display:inline-block;
  stroke-width: 10px;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  fill: none;
  animation: sketchIn 6s 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards, 
             fillIn 1s 1.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}


#rectangle #stroke rect {
  height: 100%;
  width: 100%;
  fill: #212121;
}

#rectangle #svg-image {
  height: 100%;
  width: 100%;
}


#rectangle #svg-mask {
  height: 100%;
  width: 100%;
  transform: translate(50px, 100px);
  filter: blur(10px);
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  0% {
    fill: #f0f9ff;
    fill-opacity: 0;
  }
  100% {
    fill: #f0f9ff;
    fill-opacity: 1;
  }
}

.extra_map_4{
  font-size:90%
}

@media (max-width:1500px) {
  .extra_map_4 {
    font-size: 85%;
  }
}

@media (max-width:1300px) {
  .extra_map_4 {
    font-size: 75%;
  }
}

@media (max-width:1000px) {
  .extra_map_4 {
    font-size: 65%;
  }
}

@media (max-width:700px) {
  .extra_map_4 {
    font-size: 60%;
  }
}

.select_text{
  display:none;
  font-size:150%;
  font-weight:500;
  top:10px;
  justify-content:center;
  word-break:break-word;
}


.button-return{
  display:inline-block;
  background-color:transparent;
  border-color:transparent;
  color:#01204d;
  margin-top:10px;
  cursor: pointer;
  position:relative;
  left:51%;
  transform: translateX(-50%);
  animation: fadeinout 2s linear infinite;
}


@keyframes fadeinout {
  0% ,100% { opacity: 0; }
  50% { opacity: 1; }
}


.button-return:hover {
  opacity: 1;
  animation: none;
}

#my_dataviz {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  margin: auto;
  display: block;
}

.intro_marco{
  font-size:120%;
  line-height:1.75;

}

@media (max-width:1200px) {
  .intro_marco {
    font-size: 100%;
  }
}

@media (max-width:1000px) {
  .intro_marco {
    font-size: 90%;
  }
}

@media (max-width:800px) {
  .intro_marco {
    font-size: 80%;
  }
}

@media (max-width:600px) {
  .intro_marco {
    font-size: 75%;
  }
}

* {
  outline: none;
}

/*
.tb {
  display: table;
  width: 100%;
  margin-top:-40px
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 35px;
  margin: -43px auto 0 auto;
  background-color: #6daaff;
  border-radius: 20px;
  box-shadow: 0 10px 40px #5687cc, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 30px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 25px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #0f305f;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.search_button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -5px;
  left: 40px;
  width: 55px;
  height: 55px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.search_button span {
  position: absolute;
  top: 65px;
  left: 68px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.search_button span:before,
.search_button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 86px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}*/



.lang_wrapper{
  z-index: 21;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #011f4de2;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .lang_wrapper{
  z-index: 21;
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 22;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #01204d;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
.lang_wrapper ul{
  z-index: 21;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.lang_wrapper ul li{
  margin: 15px 0;
}
.lang_wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #01204d;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.lang_wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  background: #fff;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; 
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.lang_wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.lang_wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}

.lang_exp{
  color:#fff;
  margin-top:20px;
  margin-left:70px;
  margin-right:70px;
  font-size:150%;
  text-align:center;
  line-height:1.5
}

.lang_exp_select{
  font-size:90%;
  color:#d8d8d8
}


@media (max-width:1000px) {
  .lang_exp {
    font-size: 100%;
  }
}

@media (max-width:1000px) {
  .lang_exp_select {
    font-size: 80%;
  }
}



.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: px solid #01204d;
  border-right: none;
  padding: 7px;
  font-size:15px;
  height: 35px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #888888;
}

.searchTerm:focus{
  color: #01204d;
}

.search_button {
  width: 40px;
  height: 35px;
  border: 1px solid #01204d;
  background: #01204d;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}


.wrap{
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.narrative_bar{
  line-height:1.5;
  margin:30px;
  text-align:left;
  font-size:120%;
}

@media (max-width:1400px) {
  .narrative_bar {
    font-size: 100%;
  }
}


@media (max-width:1200px) {
  .narrative_bar {
    font-size: 90%;
  }
}

@media (max-width:1000px) {
  .narrative_bar {
    font-size: 70%;
  }
}

@media (max-width:770px) {
  .narrative_bar {
    font-size: 65%;
  }
}

@media (max-width:550px) {
  .narrative_bar {
    font-size: 60%;
  }
}


.reference_text{
  line-height:1.3;
  word-break: break-all;
  max-width:100%;
  color:#ffff
}

@media (max-width:1400px) {
  .reference_text {
    font-size: 100%;
  }
}

@media (max-width:1200px) {
  .reference_text {
    font-size: 90%;
  }
}

@media (max-width:800px) {
  .reference_text {
    font-size: 75%;
  }
}

@media (max-width:650px) {
  .reference_text {
    font-size: 70%;
  }
}

/*---------------------------------------
  REVIEWS              
-----------------------------------------*/
.reviews-section {
  background-color: #7c5c52;
}

.reviews-block {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.reviews-block .border-top {
  border-top-color: rgba(255, 255, 255, 0.35) !important;
}

.reviews-block-image-wrap {
  background-image: url('../images/mid-section-waitress-wiping-espresso-machine-with-napkin-cafa-c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.reviews-block-image {
  border-radius: var(--border-radius-large);
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 10px;
}

.reviews-block-info {
  padding: 20px 30px;
}

.reviews-block-info p {
  font-size: var(--btn-font-size);
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
}

.reviews-group i {
  color: var(--white-color);
}


/*---------------------------------------
  BOOKING SECTION              
-----------------------------------------*/
.booking-section {
  background-image: url('../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.booking-form-wrap {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

.booking-form {
  padding: 55px 65px;
}

.booking-form-image-wrap {
  position: relative;
  height: 100%;
}

.booking-form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking-form-text span {
  color: var(--white-color);
  font-size: var(--btn-font-size);
}

.reservation-page .custom-border-btn {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.reservation-page .custom-border-btn:hover {
  border-color: transparent;
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(188, 108, 37, 1)), url('../images/young-female-barista-wear-face-mask-serving-take-away-hot-coffee-paper-cup-consumer-cafe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.google-map {
  border-radius: var(--border-radius-medium);
  filter: grayscale(100);
}

.contact-block-wrap {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  padding: 0;
  min-height: 200px;
}

.contact-block {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}

.contact-block h6 {
  transform: rotate(-8deg);
}

.contact-block .custom-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.contact-block strong {
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  border-radius: var(--border-radius-small);
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: none;
  outline: none;
  transition: all 0.3s;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  background: var(--primary-color);
  border-color: transparent;
}

.custom-form .form-label {
  color: var(--white-color);
  font-style: italic;
  margin-bottom: 15px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--form-btn-font-size);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--white-color);
  border-color: transparent;
  color: var(--primary-color);
}

.contact-form .form-control,
.booking-form .form-control {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.25);
}

.booking-form .form-control {
  color: var(--white-color);
}

.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
   color: var(--white-color);
}

.booking-form input:-moz-placeholder,
.booking-form textarea:-moz-placeholder {
  color: var(--white-color);
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-footer strong {
  color: var(--white-color);
}

.site-footer p,
.site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
}

.site-footer-link {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--btn-font-size);
  transition: all 0.3s;
}

.site-footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
	color: rgba(255, 200, 160, 0.75);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-section {
    padding-top: 148px;
    padding-bottom: 100px;
  }

  .navbar-brand,
  .navbar-brand:hover {
    font-size: var(--h5-font-size);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-bottom: 0;
  }

  .navbar .custom-btn {
    margin-bottom: 10px;
  }

  .booking-form {
    padding: 45px;
  }

  .contact-section .container {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 35px;
  }

  .site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 12px 20px;
  }

  .menu-block-wrap,
  .reviews-block-image-wrap,
  .reviews-block-info {
    padding: 20px;
  }
}


@media screen and (max-width: 578px) {
  .navbar .container,
  .sticky-wrapper.is-sticky .container {
    margin-right: 10px;
    margin-left: 10px;
  }
}


@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .hero-section::after {
    width: 200px;
    height: 200px;
  }

  .booking-form {
    padding: 35px;
  }

  .opening-hours-list li {
    font-size: 12px;
  }

  .reviews-block-image-wrap {
    flex-direction: column;
  }

  .reviews-block-image {
    margin-bottom: 15px;
  }

  .timeline-container {
    padding-left: 55px;
  }

  .timeline-container::before {
    left: 44px;
    border: medium solid white;
    border-width: 15px 15px 15px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline-container-left::before,
  .timeline-container-right::before {
    top: 13px;
  }
}

